[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "thirdparty/WindowsHModular"]
	path = thirdparty/WindowsHModular
	url = https://github.com/jlaumon/WindowsHModular.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/subprocess"]
	path = thirdparty/subprocess
	url = https://github.com/sheredom/subprocess.h.git
[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "thirdparty/minilua"]
	path = thirdparty/minilua
	url = https://github.com/edubart/minilua.git
[submodule "thirdparty/Bedrock"]
	path = thirdparty/Bedrock
	url = https://github.com/jlaumon/Bedrock.git
