[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/Str"]
	path = thirdparty/Str
	url = https://github.com/ocornut/str.git
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
