---
BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
Cpp11BracedListStyle: 'false'
PointerAlignment: Left
TabWidth: '4'
UseTab: ForContinuationAndIndentation

...
